body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, select, button, th, td {
    margin: 0;
    padding: 0; }

ol, ul, li {list-style: none; }

button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{text-decoration: underline;}

