html {font-size:62.5%;}
body{margin: 0;
    padding: 0;
background-color:#f3f4f6;}
header{position:fixed;
    width: 100%;
    height: 4.6rem;
    background-color: #5fc0cd;
    color:#ffffff;
    line-height:4.6rem;
    border-style:none none solid none;
    border-bottom-width:0.85rem;
    border-color:#eff0f4;}
.close{ position:absolute;
    font-size: 1.6rem;
    left: 1.5rem}
.regsiter{ position:absolute;
    font-size: 1.6rem;
    right: 1.5rem}
.login{position:fixed;
    left: 0;
    right: 0;
    margin:0;
    font-size: 1.8rem;
    text-align: center;}
/*中间两个容器样式*/
.wrap1{width: 100%;height: 5.8rem;position: absolute;top:5.5rem;border-style:none none solid none;font-size: 1.6rem;border-bottom-width:0.75rem;border-color:#eff0f4;background-color:#ffffff;}
.wrap2{width: 100%;height: 5.8rem;position: absolute;top:12.2rem;border-style:none none solid none;border-bottom-width:1.75rem;border-color:#eff0f4;background-color:#ffffff;}
/*表单内容样式*/
.text,.password{height:5rem;width: calc(100% - 9rem);;border:none;outline:none}
/*登陆按钮表单样式*/
.button{width:100%;height:5rem;position:absolute;top:19.8rem;border:none;background-color: #5fc0cd;font-size: 1.8rem; color:#f3f4f6;}
a{ color:#5fc0cd}
.href{position:absolute;top:25.6rem;right:1.8rem;}
.icon{margin: 1.5rem 1.5rem 1.5rem 2.2rem;float: left}
.line{margin: 1.2rem 1.5rem 1.25rem 0.75rem;float: left}
.clearfix:after{
    content: "";
    display: block;
    clear: both;}