$blue-color:#29bde0;
$white-color:white;
$gray-color:#c9c9c9;
$normal-border:0.02rem solid $gray-color;
$big-size:0.35rem;
$small-size:0.25rem;
@mixin li-font-color($color,$line-height,$bcg-color,$font-size){
  background-color: $bcg-color;
  line-height: $line-height;
  color: $color;
  font-size: $font-size;
}
@mixin width-height($width,$height){
  width: $width;
  height: $height;
}
@mixin absolute($top,$right,$bottom,$left){
  position: absolute;
  top:$top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
body{
  background-color: #f0f0f0;
}
.menu{
  margin: 0.21rem 0 0.22rem 0.21rem;
  cursor: pointer;
}
.list{
  margin: 0.95rem 0.35rem 0.5rem;
}
.last-game{
  @include li-font-color($gray-color,1.18rem,$white-color,$big-size);
  border: $normal-border;
  margin-bottom: 0.25rem;
}
.arrow{
  margin-right: 0.15rem;
  margin-top: 0.38rem;
}
.arrow2{
  @include absolute(4rem,0.08rem,none,none);
  margin-right: 0.1rem;
}
.catalog{
  position: relative;
  background-color: $white-color;
  border: $normal-border;
  .game{
    line-height: 0.93rem;
    font-size: $big-size;
    border-bottom: 0.02rem solid #fde1ae
  }
}
.simple{
  width: 80%;
  margin: 0.29rem auto auto;
  line-height: 1.36rem;
}
.simple:hover{
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
  cursor: pointer;
}
.text{
  line-height: 0.77rem;
  font-size: $small-size;
}
.point{
  display: block;
  line-height: 0.3rem;
}
.point1,.point2{
  @include width-height(0.15rem,0.15rem);
  display: inline-block;
  border-radius: 0.15rem;
  box-shadow: 0 0 0.01rem #a1a1a1;
  margin-bottom: 0.3rem;
  border: $normal-border;
  background-color: $blue-color;
  cursor: pointer;
}
.point2{background-color: $white-color}
.point2:hover{background-color: #31b0d5;}
#sidebar{
display: none;
}
#sidebar:checked + header aside{
  left: 0;
}
#sidebar:checked + header #wrap{
  padding-left:50%;
}
#sidebar:checked ~main{
  padding-left:50%;
  width: 100%;
}
main{  transition: 0.4s ease-out;}
aside{
  @include width-height(50%,100vh);
  @include absolute(0,none,0,-52%);
  background: $white-color;
  transition: 0.4s ease-out;
  border-right: 0.1rem solid $blue-color;
}
.li {
  @include width-height(100%,1rem);
  position: relative;
  color:$blue-color;
  font-size: .32rem;
  line-height: 1rem;
  border-bottom: $normal-border;
  &:hover{color: white;
    background: rgba(41, 189, 224, 0.5);}
  &:after{
    @include width-height(0.2rem,0.2rem);
    display: inline-block;
    content: " ";
    border: {
      width:0.04rem 0.04rem 0 0 ;
      color: #29bde0;
      style: solid;};
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    @include absolute(42%,0.5rem,none,none);
  }
}
.fa-stack-1x{line-height: 1.7em}
.fa-stack-2x{font-size: 1.7em}
.fa-stack{
  @include width-height(1.7em,1.7em);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.fa-lg{
  vertical-align: baseline;
  font-size: 1.7em;
}