@mixin absolute($top,$left,$right){
  position: absolute;
  top:$top;
  left:$left;
  right: $right;
}
@mixin flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.voting{
  line-height: 0.7rem;
  p{
    padding-left: 7.5%;
  }
}
.menuButton{
  margin-left: 0.24rem;
  margin-top: 0.15rem;
}
.close{
  margin-right: 0.24rem;
  margin-top: 0.15rem;
}
.dialogBox{
  line-height: 0.82rem;
  background-color: #b9e9f5;
  width: 100%;
  padding-left: 7.5%;
  &:after{
    content: "";
    border-top: solid 0.20rem #b9e9f5;
    border-left: solid 0.15rem #00800000;
    border-right: solid 0.15rem #00800000;
    @include absolute(1.52rem,11.25%,none);
  }
}
.musicButton{
  display: inline-block;
  @include absolute(0.85rem,none,0.18rem);
  audio{
    opacity: 0;
    height: 38px}
}
.list{
  width: 100vw;
  margin-top: 2.22rem;
  padding-bottom: 3rem;
  background-color: #29bde0;
}
.li{
  overflow: hidden;
  padding-left: 5vw;
  padding-right: 5vw;
  .role{
    float: left;
    width: 21.25vw;
    height: 32.65vw;
    margin: 0 4.375vw;
    .diving{
      background-color: #f5c97b;
      border: 0.625vw solid white;
      .name{
        width: 20vw;
        height: 15.6vw;
        line-height: 15.6vw;
        font-size: 4vw;
      }
      .number{width: 20vw;
        height: 4.4vw;
        line-height: 4.4vw;
        font-size: 3.1vw;
        background-color: #83b09a;}
    }
    &:hover .operation{
      visibility: visible;
    }
  }
}
.operation {
  height: 11.4vw;
  width: 21.25vw;
  visibility: hidden;
  @include flex-between;}
footer{
  justify-content: center;
  background-color: #29bde0;
  width: 100%;
  height: 1.9rem;
  &:before{
    position: fixed;
    bottom: 1.9rem;
    content: "";
    width: 86%;
    border-top: 0.02rem solid white;
  }
}
.voteButton{
  height: 0.87rem;
  background-color: #fbb435;
  line-height: 0.87rem;
  font-size: 0.4rem;
  width: 76.6%;
  &:hover{background-color: #ec971f;}
}
