html {font-size:75%;}
body{margin: 0;
    padding: 0;
    background-color:#f3f4f6;}
header{position:fixed;
    width: 100%;
    height: 4.6rem;
    background-color: #5fc0cd;
    color:#ffffff;
    line-height:4.6rem;
    margin-bottom: 0.85rem}
.close{ position:absolute;
    font-size: 1.6rem;
    right: 1.5rem}
.regsiter{ position:absolute;
    font-size: 1.6rem;
    left: 1.5rem}
.login{position:fixed;
    left: 0;
    right: 0;
    margin:0;
    font-size: 1.8rem;
    text-align: center;}
.wrap1,.wrap2,.wrap3{width: 100%;
    height: 5rem;
    position: absolute;
    top:5.5rem;
    font-size: 1.6rem;
    margin-bottom: 0.85rem;
    background-color:#ffffff;}
.wrap2{top:11.35rem;
    background-color:#ffffff;}
.wrap3{top:17.2rem;
    margin-bottom: 0;}
.text,.password,.button{
    height:5rem;
    width: calc(100% - 8rem);
    border:none;
    outline:none;
    padding:0;}
.button{width: 100%;
    background-color: #5fc0cd;
    font-size: 1.8rem;
    color:#f3f4f6;}
a{ color:#5fc0cd;
position: absolute;
    top:23.87rem;
    right:1.8rem;}
.icon{margin: 1.4754rem 1.5rem 1.4754rem 2.2rem;
    float: left}
.line{margin: 1.2254rem 1.5rem 1.2254rem 0.75rem;
    float: left}
.clearfix:after{
    content: "";
    display: block;
    clear: both;}