html{font-size:312.5%  }
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #29bde0;
}
.header{
    background-color: #29bde0;
    height: 0.7rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    text-align: center;
    line-height: 0.7rem;
    color: white;
}
.header p{
    font-size: 0.34rem;
    margin-bottom: 0;
}
.menuButton{
    position: absolute;
    left: 0.24rem;
    top: 0.15rem;
    width: 0.41rem;
    height: 0.42rem;
    background: url(1.png) no-repeat;
    background-size: 0.41em 0.42em;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.closeButton{
    position: absolute;
    right: 0.24rem;
    top: 0.15rem;
    width: 0.38rem;
    height: 0.38rem;
    background: url(3.png) no-repeat;
    background-size: 0.38rem 0.38rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.dialogBox{
    height: 0.82rem;
    width: 100%;
    background-color: #b9e9f5;
    position: fixed;
    line-height: 0.82rem;
    color: #464646;
    text-align: left;
}
.dialogBox:after{
    content: "";
    border-top: solid 0.20rem #b9e9f5;
    border-left: solid 0.15rem #00800000;
    border-right: solid 0.15rem #00800000;
    position: absolute;
    left: 11.25%;
    top: 100%;
}
.dialogBox p{
    margin-left: 7.5%;
    margin-bottom: 0;
    font-size: 0.26rem;
}
.musicButton{
    position: absolute;
    right: 0.18rem;
    top: 0.15rem;
    width: 0.54rem;
    height: 0.54rem;
    background: url(2.png) no-repeat;
    background-size: 0.54rem 0.54rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.footer{
    height: 1.9rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color:  #29bde0;
}
.vote{
    height: 0.87rem;
    margin: 0.42rem  0 0.61rem 11.7%;
    background-color:  #fbb435;
    line-height: 0.87rem;
    text-align: center;
    color: white;
    font-size: 0.4rem;
    width: 76.6%;
    border: none;
}
.tips{
    height: 0.9rem;
    width: 100%;
    font-size: 0.24rem;
    color: white;
}
.tips p{
    margin-left: 11%;
    line-height: 0.9rem;
}
.row1,.lastRow{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 2.09rem;
    width: 87%;
    margin-left: 6.5%;
}
.lastRow{
    margin-bottom: 2rem;
}
.list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 1.52rem;
}
.role{
    width: 1.36rem;
    height: 2.09rem;

}
.diving{
    width: 1.36rem;
    height: 1.36rem;
    background-color: #f5c97b;
    border: 0.04rem solid white;
    text-align: center;
}
.name{
    width: 1.26rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.3rem;
}
.number{
    width: 1.26rem;
    height: 0.26rem;
    line-height: 0.26rem;
    font-size: 0.22rem;
    color: white;
    background-color: #83b09a;
}
.operation{
    height: 0.73rem;
    width: 1.36rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    visibility:hidden;
}
.role:hover .operation{  visibility:visible;}
.killButton,.checkButton,.snipeButton,.reviveButton{
    width: 0.3rem;
    height: 0.3rem;
    background: white url(4.png) no-repeat;
    background-size: 0.3rem 0.3rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.checkButton{
    background: white url(5.png) no-repeat;
    background-size: 0.3rem 0.3rem;

}
.snipeButton{
    background: white url(6.png) no-repeat;
    background-size: 0.3rem 0.3rem;
}
.reviveButton{
    background: white url(7.png) no-repeat;
    background-size: 0.3rem 0.3rem;
}
