html {
    font-size: 312.5%; }
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #29bde0;
}
.header {
    background-color: #29bde0;
    text-align: center;
    line-height: 0.7rem;
    font-size: 0.34rem;
    color: white;
    min-height: 0;
    padding: 0;
    border: none;
    margin: 0;
}
.header p {
    font-size: 0.34rem;
    margin-bottom: 0;
}
.menuButton {
    float: left;
    margin-left: 0.24rem;
    margin-top:0.15rem;
    width: 0.41rem;
    height: 0.42rem;
    background: url(1.png) no-repeat;
    background-size: 0.41rem 0.42rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.closeButton {
   float: right;
   margin-right: 0.24rem;
   margin-top: 0.15rem;
    width: 0.38rem;
    height: 0.38rem;
    background: url(3.png) no-repeat;
    background-size: 0.38rem 0.38rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.dialogBox {
    height: 0.82rem;
    width: 100%;
    background-color: #b9e9f5;
    line-height: 0.82rem;
    color: #464646;
    text-align: left;
}
.dialogBox:after {
    content: "";
    border-top: solid 0.20rem #b9e9f5;
    border-left: solid 0.15rem #00800000;
    border-right: solid 0.15rem #00800000;
    position: absolute;
    left: 11.25%;
}
.navWidth{
    width: 100%;
}
.dialogBox p {
    margin-left: 7.5%;
    margin-bottom: 0;
    font-size: 0.26rem;
}
.musicButton {
    position: absolute;
    right: 0.18rem;
    top: 0.85rem;
    width: 0.54rem;
    height: 0.54rem;
    background: url(2.png) no-repeat;
    background-size: 0.54rem 0.54rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.footer {
    height: 1.9rem;
    width: 100%;
    background-color:  #29bde0;
}
.footer:before{
    content:"";
    width: 87%;
    border-top: 0.02rem solid white;
    margin-left: 6.5%;
 }
.vote {
    height: 0.87rem;
  margin-top: 0.5rem;
    background-color:  #fbb435;
    line-height: 0.87rem;
    color: white;
    font-size: 0.4rem;
    width: 76.6%;
    border: none;
    outline: none !important;
    border-radius:0;
    padding: 0;
}
.tips {
    height: 0.9rem;
    width: 100%;
    color: white;
    background-color: #29bde0;
}
.tips p {
    margin-left: 11%;
    line-height: 0.9rem;
    font-size: 0.24rem;
    text-align: start;
}
.row1,
.lastRow {
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 33vw;
    width: 87%;
    margin-left: 6.5%;
}
.lastRow {
    margin-bottom: 2rem;
}
.list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 2.42rem;
    margin-bottom: 3rem;
}
.role {
    width: 21.25vw;
    height: 32.65vw;
}
.diving {
    width: 21.25vw;
    height: 21.25vw;
    background-color: #f5c97b;
    border: 0.625vw solid white;
    text-align: center;
}
.name {
    width: 20vw;
    height: 15.6vw;
    line-height: 15.6vw;
    font-size: 4vw;
}
.number {
    width: 20vw;
    height: 4.4vw;
    line-height: 4.4vw;
    font-size: 3.1vw;
    color: white;
    background-color: #83b09a;
}
.operation {
    height: 11.4vw;
    width: 21.25vw;
    display: flex;
    align-items:center;
    justify-content: space-between;
    visibility:hidden;
}
.role:hover .operation {  visibility:visible;}
.killButton,
.checkButton,
.snipeButton,
.reviveButton {
    width: 4.7vw;
    height: 4.7vw;
    background: white url(4.png) no-repeat;
    background-size: 4.7vw 4.7vw;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.checkButton {
    background: white url(5.png) no-repeat;
    background-size: 4.7vw 4.7vw;
}
.snipeButton {
    background: white url(6.png) no-repeat;
    background-size: 4.7vw 4.7vw;
}
.reviveButton {
    background: white url(7.png) no-repeat;
    background-size: 4.7vw 4.7vw;
}
audio {
    opacity: 0;
}
.play {height: 40px}
