$normal-border:1px #c9c9c9 solid;
body{background: #f7f7f7}
.header{
  font-size: 0.34rem;
  color: white;
  line-height: 0.7rem;
  width: 100%;
  max-width: 750px;
}
.return{
  width: 11px;
  height: 22px;
  padding: 0.15rem 0 0 0.24rem;
}
.close{margin-right: 0.24rem;
  margin-top: 0.15rem;}
main{
  margin: 0.7rem auto 2rem;
  font-size: 0;
  width: 90%;
  position: relative;
  & ul:not(:last-child) li span{
    background-color: #83b09a;
    &:before{
      border-right: solid 0.20rem #83b09a;
    }
  }
  & ul:not(:last-child){
    display: none;
    padding-bottom: 0.3rem;
  }
}

.day{
  display: inline-block;
  margin-top: 0.3rem;
  width: 100%;
  line-height: 0.8rem;
  background: white;
  font-size: 0.3rem;
  color: #29bde0;
  text-align: center;
  border: $normal-border;
  cursor: pointer;
}
.item{
  position: relative;
  width: 100%;
  background: white;
  text-align: center;
  overflow: hidden;
  border: $normal-border;

  li{position: relative;
  };
  p{
    font-size: 0.3rem;
    width: 70%;
    text-align: left;
    margin: 0 10% 0 20%;
  }
  /*伪元素三角形
  &:before{
    content: "";
    border-bottom: solid 0.2rem white;
    border-left: solid 0.2rem #00800000;
    border-right: solid 0.2rem #00800000;
    position: absolute;
    left: 48%;
    top: 90.5px;}*/
  span{
    display: block;
    position: relative;
    background: #29bde0;
    color: white;
    font-size: 0.3rem;
    line-height: 0.8rem;
    width: 70%;
    margin: 0.3rem 10% 0.3rem 20%;
    cursor: pointer;
    &:before{
      content: "";
      border-right: solid 0.20rem #29bde0;
      border-top: solid 0.15rem #00800000;
      border-bottom: solid 0.15rem #00800000;
      position: absolute;
      left: -10px;
      top: 12px;
    }
  }
}
.item span.change:before{
  border-right: solid 0.20rem #83b09a;
}
.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 750px;
  height: 1.3rem;
  background: rgba(41, 189, 224, 0.5);
  button{
    height: 0.8rem;
    width: 40%;
    border-radius: 0.1rem;
    background: #fbb435;
    color: white;
  }
}
.icon{
  left: -1rem;
  top: 0.1rem;
  position: absolute;
  width: 0.62rem;
  height: 0.6rem;
  background: white;
}
ul li:first-child span:after{
  position: absolute;
  content: "";
  height: 3.5rem;
  left: -0.7rem;
  top: 0.7rem;
  border-left: 0.04rem solid #dbdbdb;
}