html{font-size:312.5%  }
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0;
}
.header{
    background-color: #29bde0;
    min-height: 0;
    padding: 0;
    border: none;
    margin: 0;
}
.menu{
    float: left;
    margin:0.21rem 0 0.22rem 0.21rem;
    width: 0.37rem;
    height: 0.3rem;
    background: url(1.png) no-repeat;
    background-size: 0.36rem 0.29rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.last-name{
    position: relative;
    margin: 0.95rem 0.35rem 0.25rem;
    height:1.18rem;
    border:0.01rem solid #c9c9c9;
    background-color: white;
    line-height: 1.18rem;
    color:#c9c9c9 ;
    font-size: 0.35rem;
    text-align: center;
}
.arrow1{
    position: absolute;
    top:0.38rem;
    right:0.15rem;
    width: 0.26rem;
    height: 0.42rem;
    background: url(2.png) no-repeat;
    background-size: 0.26rem 0.42rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.game{
    height:0.93rem;
    border-bottom:0.02rem solid #fde1ae;
    background-color: white;
    line-height: 0.93rem;
    color: #fbb435;
    font-size: 0.37rem;
    text-align: center;
}
.list{
    width: 100%;
    list-style: none;
}
.catalog{
    background-color: white;
}
.simple,.edition{
    display: block;
    height:1.36rem;
    width: 80%;
    margin: 0.29rem auto auto;
    background-color: #69d1e9;
    line-height: 1.36rem;
    color: white;
    font-size: 0.32rem;
    text-align: center;
    border: none;
    outline: none !important;
    border-radius: 0;
    padding: 0;
}
.edition{
    margin: auto;
}
.text,
.text2{
    height: 0.77rem;
    margin: 0 0.87rem 0 0.89rem;
    background-color: white;
    line-height: 0.77rem;
    color: #787878;
    text-align: center;
    font-size: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
}
.text2{
    height: 0.6rem;
}
.catalog{
    background-color: white;
    margin: 0 0.35rem;
    position: relative;
    border:0.02rem solid #c9c9c9;
    list-style: none;
}
.arrow2{
    position: absolute;
    top:3.8rem;
    right:0.08rem;
    width: 0.30rem;
    height: 0.56rem;
    background: url(3.png) no-repeat;
    background-size: 0.30rem 0.56rem;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.round{
    height: 0.5rem;
    font-size: 0.18rem;
    text-align: center;
    line-height: 0.3rem;
}
.round1{color: #69d1e9 ;}
.round2{ color: #f0f0f0 ;}
a:hover{text-decoration:none;/*指鼠标在链接*/}


