body{background: #f5f5f5}
.navbar-default{
  margin: 0;
  border: none;
  border-bottom: 1px solid white;
  .navbar-toggle:hover{background:#fdbb6b;}
  .navbar-toggle{
    span.icon-bar{background: white;}
    @media (max-width: 768px){
      float: left;
      position: absolute;
      right: 0;
    }
  }
}
.top-nav {
  display: inline-block;
  color:white;
  font-size: 18px;
  height: 50px;
  width: 250px;
  line-height: 50px;
  background: #fdbb6b;
  text-align: center;
  @media (max-width: 768px){
    width: 100%;
    text-align: left;
    padding-left: 30px;
  }
}
.sidebar{
  width: 250px;
  background: #fdbb6b;
  float: left;
  @media (max-width: 768px){
    width: 100%;
  }
}
.panel{
  border: none;
  box-shadow:none;
  background: #fdbb6b;
  a{color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none}
  .panel-heading{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.panel-default>.panel-heading{
  background: #fdbb6b;
}
@media (min-width: 768px){
.navbar-collapse.collapse{
  height:calc(100vh - 51px) !important;
}}
.top-content{
  height: 50px;
  background:white;
  width: 100%;
  border-bottom: 1px solid white;
  li{
    float: right;
    a{
      padding: 17px;
      line-height: 50px;
      margin-left: 5px;
      margin-right: 5px;
      text-decoration: none;
      &:hover{
        background:#f5f5f5 ;
      }
    }
  }
}
