html{font-size:312.5%  }
*{margin: 0;
    padding: 0;}
header{
    position:fixed ;
    top:0;
    width: 100%;
    height: 0.86rem;
    background-color: #5fc0cd;
    color:#ffffff;
    display: flex;
    align-items:center;
    justify-content:center;
    z-index: 1;
}
.map{
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    width: 0.42rem;
    height:0.45rem;
    border: 0;
    background: url(img.png) no-repeat;
    background-size: 4.92rem 0.96rem;
    background-position:  -2.44rem 0;
    border: none;
    outline: none;
}
.btn-group>.btn:first-child,.btn-group .btn+.btn{
    margin-left: 0;
    background-color: #55a8b3;
    color: white;
    border: 0;
    padding: 0.15rem 0.3rem;
    outline: none;
    border-radius: 0.08rem!important;

}
.btn-group .btn+.btn{
    margin-left: -0.05rem;
    background-color: white;
    color: #5fc0cd;
}
.employer{
    display: inline-block;
    width: 2.88rem;
    height: 0.7rem;
    line-height:0.7rem;
    color:#ffffff;
    font-size: 0.34rem;
    border-radius:10px;
    background-color: #55a8b3;
}
.workers{
    position: absolute;
    top: 0.08rem;
    left: calc(100% - 50%);
    width: 1.44rem;
    height: 0.7rem;
    line-height:0.7rem;
    text-align: center;
    color: #5fc0cd;
    font-size: 0.34rem;
    border-radius:10px;
    background-color: #ffffff;
}
footer{
    position:fixed;
    width: 100%;
    height: 1rem;
    bottom:0;
    background-color: #f8fafb;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
footer span{
    display: inline-block;
    font-size: 0.2rem;
    color: #5fc0cd;
    margin-top: 0.54rem;
}
.home-page{
    width: 0.48rem;
    height: 1rem;
    margin-left: 23%;
}
.home-page-btn{
    width: 0.48rem;
    height:0.4rem;
    border: 0;
    margin-top: 0.12rem;
    background: url(img.png) no-repeat;
    background-size: 4.92rem 0.96rem;
    background-position:  -3.11rem 0;
    border: none;
    outline: none;
}
.words{border: 0;
    background: url(img.png) no-repeat;
    background-size: 4.92rem 0.96rem;
    margin:0;
    width: 0.96rem;
    height:0.96rem;
    background-position:  -3.96rem 0;
    border: none;
    outline: none;
}
.individual{
    width: 0.42rem;
    height: 1rem;
    margin-right: 23%;
}
.individual span{color: #999999;}
.individual-btn{
    border: 0;
    background: url(img.png) no-repeat;
    background-size: 4.92rem 0.96rem;
    width: 0.48rem;
    height:0.41rem;
    margin-top: 0.09rem;
    background-position:  -1.72rem 0;
    border: none;
    outline: none;
}
.head{
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    height: 0.8rem;
    margin-top: 0.86rem;
    border:0.01rem #e1e5e7;
    border-style:none none solid none ;
    text-align:center;
    line-height: 0.8rem;
    font-size: 0.28rem;
    border-spacing:0;
    background-color: white;
}
.head-information{
    width:33.33%;
    height:0.8rem ;
    color: #999999;
    padding: 0;
}
.dropdown{
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropbtn{
    color: #999999;
    background-color: white;
    border: none;
    padding: 0 0.4rem;
    cursor:pointer;
    outline:none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0.02rem 0.02rem 0.02rem #999999;
}
.dropdown-content span{
    color: black;
    padding: 0.1rem 0.1rem;
    display: block;
}
.dropdown-content span:hover {background-color: #5fc0cd}
.dropdown:hover .dropdown-content {
    display: block;
}
.line1,.line2{
    position: absolute;
    left: 33.3%;
    top:0;
    width: 0.02rem;
    height:0.8rem;
    background: url(img.png) no-repeat;
    background-size: 4.92rem 0.96rem;
    z-index: 1;
}
.triangle1,.triangle2,.triangle3{
    position: absolute;
    left:29%;
    top:0.4rem;
    width: 0.15rem;
    height: 0.1rem;
    background: url(img.png) no-repeat;
    background-size: 4.92rem 0.96rem;
}
.triangle2{
    left:62.3%;
}
.triangle3{
    left:95.6%;
}
.triangle{background-position: -0.11rem 0;}
.line2{
    position: absolute;
    left:66.6%;
}
.icon2{background-position: 0 0;}
.list{
    width: 100%;
    list-style: none;
    padding: 0;
    margin:1.66rem 0 2rem 0;
}
.option{
    height: 1.79rem;
    border:0.01rem #e1e5e7;
    border-style:none none solid none ;
}
.icon{
    display: flex;
    height: 1.79rem;
    width: 0.7rem;
    flex-direction:column;
    justify-content:space-between;
    float: left;
}
.date-address{
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    height: 1.79rem;
    width: calc(100% - 40% - 0.7rem);
    float: left;
    font-size: 0.28rem;
    line-height: 0.4rem;
}
 p{ overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 0;
}
.work-date{
    margin-top: 0.25rem;
    color: #999999;
}
.date{color: #333333;}
.address{
    margin-bottom:  0.25rem;
    font-size: 0.26rem;
    color: #999999;
}
.price{
    display: flex;
    align-items:center;
    justify-content:flex-end;
     width: 40%;
    height: 1.79rem;
    float: right;
    font-size: 0.3rem;
    color: #e63b0e;
}
.date-icon,.address-icon,.arrow{
    width: 0.25rem;
    height:0.25rem;
    background: url(img.png) no-repeat;
    background-size: 4.92rem 0.96rem;
    margin-left: 0.32rem;
    margin-top: 0.3rem;
}
.address-icon{
    margin-left: 0.32rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
}
.arrow{
    width: 0.22rem;
    height:0.35rem;
    margin-right: 0.32rem;
    margin-left: 0.22rem;
    margin-top: 0;
}
.icon3{background-position: -1.25rem 0;}
.icon4{background-position: -0.44rem 0;}
.icon5{background-position: -0.83rem 0;}